<%- include('header') %>
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="container-fluid">
        <div class="pagetitle">
          <h3>Check Order</h3>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
              <li class="breadcrumb-item active">Check Order</li>
            </ol>
          </nav>
        </div>
        <div class="container check-order-sec">
          <h6>Check Order</h6>
          <!-- service row 1 -->
          <div class="row service-row">
            <div class="col-md-1 col-2">
              <h4>Label </h4>
            </div>
              <div class="col-md-7 col-4 services">
                  <h5>Service Name 1</h5>
              </div>
              <div class="col-md-1 col-2 loader-icon-red">
                  <img src="images/loader-icon-red.svg">
              </div>
              <div class="col-md-1 col-2 stop-btn">
                <a href="#">
                  <button type="button" class="btn btn-danger">
                    Stop                  
                  </button>
                </a>
            </div>
            <div class="col-md-1 col-2 edit-btn">
              <a href="editOrder.html">
                <button type="button" class="btn btn-success">Edit</button>
              </a>
            </div>
          </div>
          <!-- service row 2 -->
          <div class="row service-row">
            <div class="col-md-1 col-2">
              <h4>Label </h4>
            </div>
              <div class="col-md-7 col-4 services">
                  <h5>Service Name 1</h5>
              </div>
              <div class="col-md-1 col-2 loader-icon-red">
                  <img src="images/loader-icon-red.svg">
              </div>
              <div class="col-md-1 col-2 stop-btn">
                <a href="#">
                  <button type="button" class="btn btn-danger">
                    Stop                  
                  </button>
                </a>
            </div>
              <div class="col-md-1 col-2 edit-btn">
                <a href="editOrder.html">
                  <button type="button" class="btn btn-success">Edit</button>
                </a>
              </div>
          </div>
          <!-- service row 3-->
          <div class="row service-row">

            <div class="col-md-1 col-2">
              <h4>Label </h4>
            </div>
              <div class="col-md-7 col-4 services">
                  <h5>Service Name 1</h5>
              </div>
              <div class="col-md-1 col-2 loader-icon-red">
                  <img src="images/loader-icon-red.svg">
              </div>
              <div class="col-md-1 col-2 stop-btn">
                <a href="#">
                  <button type="button" class="btn btn-danger">
                    Stop                  
                  </button>
                </a>
            </div>
            <div class="col-md-1 col-2 edit-btn">
              <a href="editOrder.html">
                <button type="button" class="btn btn-success">Edit</button>
              </a>
            </div>
          </div>
          <!-- service row 4 -->
          <div class="row service-row">
            <div class="col-md-1 col-2 ">
              <h4>Label </h4>
            </div>
              <div class="col-md-7 col-4 services">
                  <h5>Service Name 1</h5>
              </div>
              <div class="col-md-1 col-2 loader-icon-red">
                  <img src="images/loader-icon-red.svg">
              </div>
              <div class="col-md-1 col-2 stop-btn">
                <a href="#">
                  <button type="button" class="btn btn-danger">
                    Stop                  
                  </button>
                </a>
            </div>
            <div class="col-md-1 col-2 edit-btn">
              <a href="editOrder.html">
                <button type="button" class="btn btn-success">Edit</button>
              </a>
            </div>
          </div>
      </div>
      </div>
    </div>
    <%- include('footer') %>