<%- include('header') %>
  <!-- partial -->
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="container-fluid">
        <div class="pagetitle">
          <h3>Form</h3>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active">Form</li>
            </ol>
          </nav>
        </div>
        <!-- form start -->
        <!-- <div class="container"> -->
        <div class="row">
          <div class="col-12 form-hed">
            <h5>Form</h5>
          </div>
        </div>
        <!-- form row 1 -->
        <div class="row form-row-main">
          <div class="col-2 lab">
            <label for="email" class="form-label">Search Links</label>
          </div>
          <div class="col-6">
            <div>
              <select class="form-control w-70">
                <!-- <option>Select option
                                    <i class="fa-solid fa-caret-down"></i>
                                </option> -->
                <option>50 subscribers $14.00</option>
                <option>100 subscribers $23.00</option>
                <option>200 subscribers $27.00</option>
                <option>300 subscribers $39.00</option>
                <option>500 subscribers $65.00</option>
                <option>750 subscribers $99.00</option>
                <option>1000 subscribers $129.00</option>
              </select>
            </div>
          </div>
          <div class="col-1 loader-icon">
            <img src="images/loader-icon.svg">
          </div>
          <div class="col-2 form-side-button">
            <button type="submit" class="btn btn-secondary">Button</button>
          </div>
        </div>


        <!-- form row 2 -->
        <div class="row form-row-main">
          <div class="col-2 lab">
            <label for="email" class="form-label">Page Limit</label>
          </div>
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Enter text here" name="text">
          </div>
          <div class="col-1 loader-icon">
            <img src="images/loader-icon.svg">
          </div>
          <div class="col-2 form-side-button">
            <button type="submit" class="btn btn-secondary">Button</button>
          </div>
        </div>

        <!-- form row 3 -->
        <div class="row form-row-main">
          <div class="col-2 lab">
            <label for="email" class="form-label">All Links</label>
          </div>
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Enter text here" name="text">
          </div>
          <div class="col-1 loader-icon">
            <img src="images/loader-icon.svg">
          </div>
          <div class="col-2 form-side-button">
            <button type="submit" class="btn btn-secondary">Button</button>
          </div>
        </div>

        <!-- form row 4 -->
        <div class="row form-row-main">
          <div class="col-2 lab">
            <label for="email" class="form-label">Label</label>
          </div>
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Enter text here" name="text">
          </div>
          <div class="col-1 loader-icon">
            <img src="images/loader-icon.svg">
          </div>
          <div class="col-2 form-side-button">
            <button type="submit" class="btn btn-secondary">Button</button>
          </div>
        </div>

        <!-- submit button -->
        <div class="row">
          <div class="col-10 form-submit-btn">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
        <!-- </div> -->
      </div>
    </div>
    <!-- content-wrapper ends -->
    <%- include('footer') %>