<%- include('header') %>
  <!-- partial -->
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="pagetitle">
        <h3>Services</h3>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Services</li>
          </ol>
        </nav>
      </div>
      <div class="container">
        <h6 class="services-hed">YouTube Promotion Services</h6>
        <div class="row mt-5">
          <!-- small box 1 -->
          <div class="col-lg-4 col-6 dashboard-box-col">
            <div class="small-box-blue youtube-icon">
              <a href="form.html">
                <i class="fa-brands fa-youtube"></i>
                Buy YouTube Subscribers
              </a>
            </div>
          </div>
          <!-- small box 2 -->
          <div class="col-lg-4 col-6 dashboard-box-col">
            <div class="small-box-red youtube-icon">
              <a href="form.html">
                <i class="fa-brands fa-youtube"></i>
                Buy YouTube Views
              </a>
            </div>
          </div>
          <!-- small box 3 -->
          <div class="col-lg-4 col-6 dashboard-box-col">
            <div class="small-box-blue youtube-icon">
              <a href="form.html">
                <i class="fa-brands fa-youtube"></i>
                Buy YouTube Likes
              </a>
            </div>
          </div>
          <!-- small box 4 -->
          <div class="col-lg-4 col-6 dashboard-box-col">
            <div class="small-box-red youtube-icon">
              <a href="form.html">
                <i class="fa-brands fa-youtube"></i>
                Buy YouTube Comments
              </a>
            </div>
          </div>
          <!-- small box 5 -->
          <div class="col-lg-4 col-6 dashboard-box-col">
            <div class="small-box-blue youtube-icon">
              <a href="form.html">
                <i class="fa-brands fa-youtube"></i>
                Buy YouTube Watch Hours
              </a>
            </div>
          </div>
          <!-- small box 6 -->
          <div class="col-lg-4 col-6 dashboard-box-col">
            <div class="small-box-red youtube-icon">
              <a href="form.html">
                <i class="fa-brands fa-youtube"></i>
                Buy YouTube Live Views
              </a>
            </div>
          </div>
        </div>
        <div class="container mt-5">
          <h3 class="service-faq-hed">Our <span>YouTube Promotion Service</span> FAQs</h3>
          <div class="row justify-content-center">
            <div class="col-8">
              <div id="accordion">
                <!-- accordian 1 -->
                <div class="card service-text-main" data-toggle="collapse" data-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  <div class="card-header service-collapse-hed" id="headingOne">
                    <h5 class="mb-0">The Benefits of Using a YouTube Promotion Service</h5>
                    <!-- <i class="fa-solid fa-plus" id="plus-icon"></i> -->
                    <!-- <i class="fa-solid fa-minus" id="minus-icon"></i> -->
                  </div>
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione consectetur, eum in alias
                        placeat
                        exercitationem ipsum veritatis. Aspernatur neque praesentium rem voluptates laboriosam dicta
                        dolor
                        soluta fugit? Temporibus, cumque autem! Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit.
                        Laborum, aperiam nobis. Inventore quo qui quaerat eligendi aperiam facere! Eligendi obcaecati
                        enim
                        voluptates a iure, alias beatae sunt nobis dolor facilis. Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Laboriosam alias quis cum quia, saepe iusto nemo quaerat itaque possimus non
                        in
                        dolor pariatur maiores facere eligendi delectus deserunt repellendus quae!</p>
                    </div>
                  </div>
                </div>

                <!-- accordian 2 -->
                <div class="card service-text-main" data-toggle="collapse" data-target="#collapseTwo"
                  aria-expanded="true" aria-controls="collapseTwo">
                  <div class="card-header service-collapse-hed" id="headingOne">
                    <h5 class="mb-0">The Benefits of Using a YouTube Promotion Service</h5>
                    <!-- <i class="fa-solid fa-plus" id="plus-icon"></i> -->
                    <!-- <i class="fa-solid fa-minus" id="minus-icon"></i> -->
                  </div>
                  <div id="collapseTwo" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione consectetur, eum in alias
                        placeat
                        exercitationem ipsum veritatis. Aspernatur neque praesentium rem voluptates laboriosam dicta
                        dolor
                        soluta fugit? Temporibus, cumque autem! Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit.
                        Laborum, aperiam nobis. Inventore quo qui quaerat eligendi aperiam facere! Eligendi obcaecati
                        enim
                        voluptates a iure, alias beatae sunt nobis dolor facilis. Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Laboriosam alias quis cum quia, saepe iusto nemo quaerat itaque possimus non
                        in
                        dolor pariatur maiores facere eligendi delectus deserunt repellendus quae!</p>
                    </div>
                  </div>
                </div>

                <!-- accordian 3 -->
                <div class="card service-text-main" data-toggle="collapse" data-target="#collapseThree"
                  aria-expanded="true" aria-controls="collapseThree">
                  <div class="card-header service-collapse-hed" id="headingOne">
                    <h5 class="mb-0">The Benefits of Using a YouTube Promotion Service</h5>
                    <!-- <i class="fa-solid fa-plus" id="plus-icon"></i> -->
                    <!-- <i class="fa-solid fa-minus" id="minus-icon"></i> -->
                  </div>
                  <div id="collapseThree" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione consectetur, eum in alias
                        placeat
                        exercitationem ipsum veritatis. Aspernatur neque praesentium rem voluptates laboriosam dicta
                        dolor
                        soluta fugit? Temporibus, cumque autem! Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit.
                        Laborum, aperiam nobis. Inventore quo qui quaerat eligendi aperiam facere! Eligendi obcaecati
                        enim
                        voluptates a iure, alias beatae sunt nobis dolor facilis. Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Laboriosam alias quis cum quia, saepe iusto nemo quaerat itaque possimus non
                        in
                        dolor pariatur maiores facere eligendi delectus deserunt repellendus quae!</p>
                    </div>
                  </div>
                </div>

                <!-- accordian 4 -->
                <div class="card service-text-main" data-toggle="collapse" data-target="#collapseFour"
                  aria-expanded="true" aria-controls="collapseFour">
                  <div class="card-header service-collapse-hed" id="headingOne">
                    <h5 class="mb-0">The Benefits of Using a YouTube Promotion Service</h5>
                    <!-- <i class="fa-solid fa-plus" id="plus-icon"></i> -->
                    <!-- <i class="fa-solid fa-minus" id="minus-icon"></i> -->
                  </div>
                  <div id="collapseFour" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione consectetur, eum in alias
                        placeat
                        exercitationem ipsum veritatis. Aspernatur neque praesentium rem voluptates laboriosam dicta
                        dolor
                        soluta fugit? Temporibus, cumque autem! Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit.
                        Laborum, aperiam nobis. Inventore quo qui quaerat eligendi aperiam facere! Eligendi obcaecati
                        enim
                        voluptates a iure, alias beatae sunt nobis dolor facilis. Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Laboriosam alias quis cum quia, saepe iusto nemo quaerat itaque possimus non
                        in
                        dolor pariatur maiores facere eligendi delectus deserunt repellendus quae!</p>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
    <%- include('footer') %>