.loading {
  width: 80%;
  background-color: #e8ecf0;
  padding: 50px 60px;
  margin: 50px 50px;
  box-sizing: border-box;
  border-radius: 50px 50px 50px 50px;
}


/* body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
  } */


.box_progrss {
  border-top: 1px solid grey;
  padding-top: 30px;
  margin-top: 30px;
}

.progress-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 30px;
  background-color: #eee;
  margin-bottom: 20px;
  background: rgba(220, 229, 246, 0.3);
  border: 2px solid rgba(29, 29, 31, 0.05);
  padding: 5px;
  border-radius: 16.5px;
  display: flex;
  align-items: center;
}

.progress-bar {
  height: 100%;
  width: 0;
  background: #44D5F4;
  border: 2px solid rgba(29, 29, 31, 0.05);
  transition: width 0.3s ease;
  border-radius: 16.5px !important;
}

#progressBar2 {
  background: #4EE38A;
}

#progressBar3 {
  background: #FE346B;
}

#progressBar4 {
  background: #FCCC6C;
}




.arrow-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
}

#progressInput {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.arrow {
  position: absolute;
  width: 30px;
  /* Adjust the width of the arrow image */

  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: left 0.3s ease;
  transform: translateY(-50%);
  box-shadow: 0px 0px 5px rgb(29 29 31 / 15%) !important;
  background: #FFFFFF;
  border: 2px solid #EAECF1;
  border-radius: 20px !important;
  height: 30px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
}



.youtube_views {
  padding: 30px 10px 10px 0px;
}


.eye {
  color: #44D5F4;
  padding: 10px;
  font-size: 20px;
}

.user {
  color: #4EE38A;
  padding: 0px 14px;
  font-size: 20px;
}

.thumb {
  color: #FE346B;
  padding: 0px 14px;
  font-size: 20px;
}

.thumb_down {
  color: #250349;
  padding: 0px 14px;
  font-size: 20px;
}

.cmment {
  color: #FCCC6C;
  padding: 0px 14px;
  font-size: 20px;
}

.col-12.loadingg {
  padding: 11px 0px 0px 57px;
}

h4.head_h {
  line-height: inherit;
}

.green {
  color: #4EE38A;
}

img.imges {
  padding: 7px;
}


/* Devices css  */
@media screen and (min-device-width: 280px) and (max-device-width: 767px) {
  h4.head_h {
    font-size: 12px;
    padding: 17px;

  }

  .icons {
    width: max-content;
  }

  .loading {
    width: 100%;
    background-color: #e8ecf0;
    padding: 50px 60px;
  }

  .col-12.loadingg {
    padding: 0px;
  }

  .user {
    padding: 0px 11px;
  }

  .thumb {
    padding: 0px 11px;
  }

  .thumb_down {
    padding: 0px 11px;

  }

  .cmment {
    padding: 0px 10px;
  }



}




/* tablet css */
@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  h4.head_h {
    font-size: 22px;
    padding: 0px 67px;
  }
}